/*mes variables*/
:root {
    --color-pink: rgb(215, 92, 154);
    --color-gray: rgb(179, 177, 177);
    --text-h1: 'Dancing Script', cursive;
    --text: 'Crimson Text', serif;
    --color-text: white;
}

body {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DF1CA3'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23DB96C9' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23DB96C9' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.42'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

}

/*header********************************************************************************************/
header {
    position: relative;
    min-height: 15vh;
}

header img {
    width: 100%;
    max-height: 100%;
}

/*************************** menu  **********************************************************************************************/
.nav-toogle {
    position: fixed;
    z-index: 1;
    /* pour que le bouton reste toujours au dessus*/
    top: -26px;
    left: 7px;
    height: 40px;
    width: 40px;
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    cursor: pointer;
}

.barre {
    position: absolute;
    display: block;
    border-bottom: 2px solid;
    width: 80%; /*je veux mes barres pas à 100%*/
    border-radius: 100%;
    background: var(--color-pink);
    height: 2px;
}

/*pour eviter que les 3 barres soient les unes sur les autres*/
.l1 {
    /*pour monter mes 3 barres pour eviter qu'elles soient les unes sur les autres*/
    transform: translateY(-10px);
}

.l3 {
    transform: translateY(+10px);
}

/*pour faire la croix*/
.nav-toogle.active .l1 {
    transform: translateY(0px) rotate(135deg);
}

.nav-toogle.active .l2 {
    opacity: 0;
    /*pour que la barre du centre dispararait*/
}

.nav-toogle.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}

/*personalisation du texte menu*/
nav {
    width: 100vw;
    height: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: transparent;
    border-bottom: 2px solid var(--color-gray);
   
    /* transition: transform 0.9s cubic-bezier(.76,.23,.61,.76); */
}

nav.active {
    transform: translate(0);
    
}

nav a {
    font-family: var(--text-h1);
    font-size: 0;
    color: var(--color-gray);
    text-decoration: none;
     }
nav a:hover{
    color:white;
    transition: 1s ease-in-out;
}
.ecriture{
    font-size: 2rem;
}
.nav-taille{
    height: 50vh;
}

.grand-ecran {
    display: none;
}


/*main ***************************************************************************************************************/
main {
    min-height: 70vh;

}

h1 {
    font-size: 3rem;
    padding-top: 30px;
    /*ma marge entre mon header et mon titre*/
    font-family: var(--text-h1);
    color: var(--color-text);


}

p, h2,
.info,
.studio {
    font-family: var(--text);
    color: var(--color-text);
}

h1,
p,
.info,
.studio,
.ombre,
.text-deroulement {
    /*je centre tous mes textes*/
    text-align: center;
}

.studio {
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    color: var(--color-text);
}

.metier {
    font-size: 20px;
    color: var(--color-text);
    margin-bottom: 25px;
}

p.ombre {
    font-size: 1.2rem;
}

.info p {
    /*texte dans mes contenairs slides*/
    text-align: center;
    letter-spacing: .2rem;
}

.incursive {
    /*texte avant le texte info du slide */
    font-family: var(--text-h1);
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.container-slider {
    width: 100%;
}

.bloc-texte-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-pink);
    border: 2px solid var(--color-gray);
    padding: 30px 50px;
    border-radius: 10px 100px / 120px;
}

.ombre {
    text-shadow: 1px 0 15px rgb(15, 14, 15);
}

/* card tournante tarif side*************************   MAIN   ***************************************************************************/
.card-container {
    width: 200px;
    height: 50px;
    position: relative;
    /* pour positionner mes cartes par rapport à mon conteneur*/
    margin: 20px auto;
    /*pour centrer ma div */

}

.card {
    width: 100%;
    /*ma carte prend la taille de 100% de mon container card*/
    height: 100%;
    position: absolute;
    /*pour que ma carte se positionne dans mon conteneur*/
    box-shadow: 0px 5px 15px;
    /*15 px de flou*/
    transition: transform 500ms ease-in-out;
    /*pour que ma carte se tourne en durée de 500 millisecondes*/
    transform-style: preserve-3d;
    /* pour que ma carte 2D passe en 3D ce qui permet de voir les 2cotés */
    border-radius: 25% 10%;
}

.side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    /*quand je suis face avant, ca cache la face arriere et vise versa*/
}

.side-front {
    /*carte devant*/
     z-index: 1;
    /*mettre ma carte recto en 1ere position*/
    border-radius: 15px;

}

.side-back {
    /*carte derriere*/
    background-color: var(--color-gray);
    transform: rotateY(180deg);
    /*pour qu'elle tourne de 180degrés*/

}

.card:hover {
    /*mon animation de rotation quand on survol la carte et ajouter du style*/
    transform: rotateY(180deg);
}

.prix {
    font-size: 1rem;
    font-family: var(--text);
    color: white;
}

.tarif {
    font-size: 2.3rem;
    font-family: var(--text-h1);
    color: var(--color-pink);
    text-shadow: 2px 3px 15px rgb(6, 6, 6);
    text-align: center;
    padding: 8px;
    color: var(--color-text);
}

.info-prix {
    font-size: 1.1rem;
    font-family: var(--text);
}

.form-renseignement{
    color: var(--color-pink);
    font-size: 1.2em;
}


/*slides ma gallerie photos du main*******************************************************************************/
.grand-slide {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-slider {
    width: 300px;
    /*car mes photos font 300px de large*/
    overflow: hidden;
    /*pour cacher mes autres photos sous la 1ere photo*/
}

.slides {
    display: flex;
    width: calc(300px*3);
    /* toutes mes photos font 300px  et je les veux cote à cote*/
    margin: 20px auto;
    /*marge entre mes blocs de 20px*/
    animation: glisse 15s infinite;
    /*je mets mon animation keyframes à 5sec en faisant une boucle*/
}

.slides img {
    width: 300px;
    border-radius: 5%;
}

.slide {
    float: left;
    /*toutes mes photos doivent etre à gauche*/
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-300px);
    }

    43% {
        transform: translateX(-300px);
    }

    66% {
        transform: translateX(-600px);
    }

    76% {
        transform: translateX(-600px);
    }

    0% {
        transform: translateX(0);
    }

}
/****************************************** */

.text-deroulement {
    /*dernier texte de main sur la presentation d'un shooting*/
    margin: 30px 30px;
}



button {
    background-color: var(--color-pink);
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 120px;
    height: 40px;
    margin: 30px auto;
    border-radius: 25% 10%;

}
.espace {
    margin-right: 15px;

}

/******************** mes boutons ********************************************/
.logo_phone{ /*bouton dans le header phone*/
    width: 32px;
    height: 29px;
    border-radius: 25% 10%;
    background-color: var(--color-gray);
    top:-24px;
    right: 50px;
    position: absolute;
}
.contact{
    font-size: 20px;
    color: var(--color-pink);
    position: relative;
    top: -4px;
    right: 2px;
}
/*bouton mail dans le header*/
.logo_mail {
    width: 32px;
    height: 29px;
    border-radius: 25% 10%;
    background-color: var(--color-gray);
    top:-24px;
    right: 94px;
    position: absolute;

}
.mail{
    font-size: 20px;
    color: var(--color-pink);
    position: relative;
    top: -2px;
    right: 3px;
}

.submit{
    background-color: var(--color-pink);
  
   }


/******* mon formulaire ***********************************/
.formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 50px 50px;
   background-color: var(--color-gray);
}

/*footer *************************************************************************************************************/

footer {
    height: 15vh;
    width: 100%;
    background-color: var(--color-pink);
   margin-top: 20px;
   display: flex;
   
   
}
.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 88%;
    width: 100%;
 
}

.copyright {
           font-size: 18px;
        color: var(--color-gray);
       
       text-shadow: 1px 1px white;
 
}

/**** code pour grand ecran ******************************************************************************/
 
@media (min-width : 769px){

    h1{
        font-size: 4.5rem;
        /* padding-top: 0px; */
    }
  p.metier{
        font-size: 1.8rem;
        margin : 30px;
    }

p.ombre, .text-deroulement {
        font-size: 1.5rem;
    }
.info {
   font-size: 1.3rem;
  }  
.nav-toogle{
        display: none;
        
    }
.grand-slide{
    display: flex;
    /* width: 100%; */
    flex-direction:row;
    align-items: flex-start; /*pour que mes slides soient alignés sur le haut*/
    /* justify-content: center; */
    margin: 93px 79px;
    
    }
.card{
   position: absolute;
}
.c1{
    position: relative;
    bottom: -559px;
    left: -198px;
}
.c2{
    position: relative;
    bottom: -580px;
    left: -198px;
}
.c3{
    position: relative;
    bottom: -510px;
    left: -198px;
}

.logo_mail {
    width: 50px;
    height: 40px;
    border-radius: 25% 10%;
    background-color: var(--color-gray);
    top:-15px;
    right: 120px;
    position: absolute;

}
.mail{
    font-size: 30px;
    color: var(--color-pink);
    position: relative;
    top: -2px;
    right: -2px;
}

.logo_phone{ /*bouton dans le header phone*/
    width: 50px;
    height: 40px;
    border-radius: 25% 10%;
    background-color: var(--color-gray);
    top:-15px;
    right: 59px;
    position: absolute;
}
.contact{
    font-size: 30px;
    color: var(--color-pink);
    position: relative;
    top: -7px;
    right: 0px;
}

nav {
    width: 100vw;
    height: 7vh;
}

nav a {
    font-family: var(--text-h1);
    font-size: 2rem;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}


  input{
    width: 400px;
   }
   textarea{
    width: 400px ;
   }

   .submit{
    background-color: var(--color-pink);
    width: 200px;

   }

   .text-deroulement{
    font-size: 1.2rem;
    text-align: center;
    margin: 50px 60px;
   }

   .question {
        font-size: 1.5rem;
        
        } 
}

