/*mes polices d'ecritures --Fonts*/
@import url('https://fonts.googleapis.com/css2? family= Nunito:ital,wght@1,200 & family= Playfair+Display+SC:ital,wght@1,400;1,700 & display=swap' );
/*font-family: 'Nunito', sans-serif;    (pour ma barre de menu)
font-family: 'Playfair Display SC', serif;*/

/*mes Variables*/
:root {
    --first-color-pink: rgb(233, 27, 147);
    --second-color: rgb(16, 18, 17);
    --font-size:1rem;
} /*pour mon mode menu*/
.light-mode {
    --navbar-color : cyan;
    --navbar-bg-color :yellow; 
}
.dark-mode { /*pour mon mode menu*/
    --navbar-color : rgb(206, 90, 7);
    --navbar-bg-color :rgb(111, 16, 207); 
}

/*reset*/
* {
   /* background: linear-gradient(var(--second-color), var(--first-color-pink));*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*video menu*/
    outline: none; /*video menu*/
}

/*header*/
.header-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(10vw, 100vw));
    grid-template-rows: repeat(4, minmax(5vh, 50px));
}

.bg-header {
    grid-column: 1/6;
    grid-row: 1/5;
    width: 100%;
}

                /***********************mon menu**************************************************************************/
ul{
    list-style: none; /*pour enlever la liste à puces*/
}
/*basic style de mon menu*/
body{
font-size: var(--font-size);
font-family: 'Nunito', sans-serif;
}
/*Navbar*/
.navbar {
    display: flex;
    align-items: ;
    justify-content: space-between;
    padding: 10px;
    background: var(--navbar-bg-color);
    color: var(--navbar-color);
    height: 250px;
    width: 100%;
}

.navbar_links{
    display: flex;   /*pour mettre mon menu en ligne*/ 
}
.navbar_link{
    display: flex;  
    padding: 0 30px;  /*pour faire des espaces à droite et à gauche*/
}
.navbar_link > a{/*nav barre pour les liens*/
display: flex;  
color: var(--navbar-color); 
text-decoration: none;
} 
.burger {
display: none; /*pas besoin sur mon grand ecran donc je le fais disparaitre*/ 
}
/*toggle menu*/

/*bonus animation de ma barre de nav et burger */

/*small devices*/
@media screen and (max-width:767.98px){
    .navbar_links{
        display: flex;
        flex-direction: column ;
        width: 0;
        height: 100vh;
        position: absolute;
        top: 250px;
    }

}

/*medium devices*/
@media screen and (min-width:768px){
   .navbar_link > a::after {
    display: block;
    content:"";
    width: 0;
    height: 1px;
    background: var(--navbar-color);
    transition: width .4s;
   } 
   .navbar_link:hover > a::after {
    width: 100% ; /*quand on va survoler les li nos elements after vont s'agrzndir*/
   }
}
    



            /************************************** mon logo***********************************************************************************/
.logo {
    grid-area: 3/1/4/3;
    align-self: top;
    width: 120%;   
}

/******************************************main***********************************************************************************************/
.bloc-container{
   display: flex; 
   flex-direction: column;
   width: 100%;
   overflow-y: scroll;
}
.text-main {
    display: flex;
   align-items: center;
   flex-direction: column;

}
.photographe, .nom, .phone  {
color: white;
margin: 7px;
}
.nom {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.photographe {
    font-size: 15px;
}
.phone {
    font-size: 25px;
}
p {
    font-size: 20px ;
    color: var(--second-color);
    margin: 25px;
}

/**************************************slides ma gallerie photos du main************************************************************************************/ 
.container-slider{
     width: 500px; /*car mes photos font 500px de large*/
    overflow: hidden; /*pour cacher mes autres photos sous la 1ere photo*/  
}
.slides{ 
    display: flex;
    width: calc(500px*3);/* toutes mes photos font 500px  et je les veux cote à cote*/ 
 margin:10px auto; /*marge entre mes blocs de 20px*/
 animation: glisse 15s infinite; /*je mets mon animation keyframes à 5sec en faisant une boucle*/
}

.slide { 
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    43% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    76% {
        transform: translateX(-1000px);
    }
    0% {
        transform: translateX(0);
    }
}
.main-content{
    width: 100%;
    height: 200px;
}
.infos {
    background-color: aqua;
    display: flex;
    flex-flow: column;
    width: 50%;
    text-align: center;
height: 150px;

}


/*footer*/
.footer {
    max-width: 100%;
    text-align: center;
}
.copyright {
    color: white;
    font-size: 10px;
}

