/*mes polices d'ecritures --Fonts*/

/*mes Variables*/
:root {
    --first-color-pink: rgba(156, 50, 85, 0.784);
    --second-color: rgb(16, 18, 17);
    --third-color: #adadad;
    --font-size: 1rem;
    --titres: 'Courgette', sans empattement;
    --textes: 'Nunito', sans empattement;
    --font-size: 1rem;
}

body {
    width: 100vw;
    background-color: #adadad;
}

header {

    width: 90Vw;
    height: 150px;
}

.img-header {
    width: 100vw;
    /* background-size:100%; */
}
.logo {
    height: 40px;
    
}
/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

main {
    padding: 40px;
    background-color: #adadad;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.info {
    display: flex;
    justify-items: center;
    font-family: var(--textes);
    font-size: 10px;
    background-color: var(--first-color-pink);
}


/*slides*/ 
.container-slider{
    width: 300px; /*car mes photos font 500px de large*/
    overflow: hidden; /*pour cacher mes autres photos sous la 1ere photo*/  
}
.slides{ 
    width: calc(300px*3);/* toutes mes photos font 500px  et je les veux cote à cote*/ 
 margin: 20px auto; /*marge entre mes blocs de 10px*/
 animation: glisse 15s infinite; /*je mets mon animation keyframes à 5sec en faisant une boucle*/
}
.slides img {
    width: 300px;
}
.slide { 
    float: left; /*toutes mes photos doivent etre à gauche*/
    max-width: 100%;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    43% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    76% {
        transform: translateX(-1000px);
    }
    0% {
        transform: translateX(0);
    }
}
footer {
    width: 100vw;
    text-align: center;
    background-color: var(--first-color-pink);

}

.avatar {
    height: 20px;

    /* float: left; */

}